Repository Filipe-Rodrigues/SIGAA-De-Araque, pull requests merged in 2019-05, with the labels that each got.

#15 Correcting minor typos on README text
  README.md
Labels: management

#18 Revert "Correcting minor typos on README text"
  README.md
Labels: LOW, management

#23 Added new vue project, close #20
  frontend/.gitignore
  frontend/README.md
  frontend/babel.config.js
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/logo.png
  frontend/src/assets/logo.svg
  frontend/src/main.js
  frontend/src/plugins/vuetify.js
  frontend/src/router.js
  frontend/src/store.js
  frontend/src/views/About.vue
  frontend/src/views/Home.vue
Labels: frontend, management

#25 Changed frontend fodler namer to Frontend, close #24
  Frontend/.gitignore
  Frontend/README.md
  Frontend/babel.config.js
  Frontend/package.json
  Frontend/public/favicon.ico
  Frontend/public/index.html
  Frontend/src/App.vue
  Frontend/src/assets/logo.png
  Frontend/src/assets/logo.svg
  Frontend/src/main.js
  Frontend/src/plugins/vuetify.js
  Frontend/src/router.js
  Frontend/src/store.js
  Frontend/src/views/About.vue
  Frontend/src/views/Home.vue
Labels: management

#31 Finished first version of the home page, beginning development of the…
  Frontend/package.json
  Frontend/src/App.vue
  Frontend/src/components/Navbar.vue
  Frontend/src/router.js
  Frontend/src/views/About.vue
  Frontend/src/views/Home.vue
  Frontend/src/views/Projetos.vue
Labels: frontend

#38 Dev/edit user view
  Frontend/src/App.vue
  Frontend/src/components/DisplayUser.vue
  Frontend/src/components/Navbar.vue
  Frontend/src/router.js
  Frontend/src/views/Home.vue
  Frontend/src/views/ProfileEdit.vue
  Frontend/src/views/Projects.vue
  Frontend/src/views/Projetos.vue
Labels: frontend

#41 Implemented create project form to project view, close #39
  Frontend/src/components/Navbar.vue
  Frontend/src/components/projects/CreateProject.vue
  Frontend/src/views/Projects.vue
Labels: MEDIUM, frontend

#43 Fixed navbar projects route, close #42
  Frontend/src/components/Navbar.vue
Labels: FIX, frontend

#45 Fixed text colors in multiple views, close #44
  Frontend/src/components/LvLogin.vue
  Frontend/src/components/profile/DisplayUser.vue
  Frontend/src/views/Home.vue
  Frontend/src/views/Login.vue
  Frontend/src/views/ProfileEdit.vue
  Frontend/src/views/Projects.vue
Labels: FIX, HIGH, frontend

#47 Implemented publications view, close #46
  Frontend/src/components/LvLogin.vue
  Frontend/src/components/Navbar.vue
  Frontend/src/router.js
  Frontend/src/views/Projects.vue
  Frontend/src/views/Publications.vue
  Frontend/vue.config.js
Labels: frontend

#55 Dev/redesign layouts
  Frontend/package-lock.json
  Frontend/src/App.vue
  Frontend/src/components/Navbar.vue
  Frontend/src/router.js
  Frontend/src/views/Home.vue
  Frontend/src/views/Projects.vue
  Frontend/src/views/Publications.vue
  Frontend/src/views/Researches.vue
Labels: frontend

#57 Fix/project color
  Frontend/src/App.vue
  Frontend/src/components/Navbar.vue
  Frontend/src/plugins/vuetify.js
  Frontend/src/views/Home.vue
  Frontend/src/views/Login.vue
  Frontend/src/views/Projects.vue
  Frontend/src/views/Researches.vue
Labels: frontend

#61 Fixed projects, researches and publications search bar layout
  Frontend/src/views/Home.vue
  Frontend/src/views/Projects.vue
  Frontend/src/views/Publications.vue
  Frontend/src/views/Researches.vue
Labels: FIX, frontend

#62 Finished reasearch view, close #49
  Frontend/src/views/Home.vue
  Frontend/src/views/Researches.vue
Labels: frontend

#56 Finished first version of Disciplines component, close #48
  Frontend/src/router.js
  Frontend/src/views/Disciplines.vue
Labels: frontend

#67 Fixed secodnary items and login buttons color
  Frontend/src/components/LvLogin.vue
  Frontend/src/plugins/vuetify.js
  Frontend/src/views/Login.vue
Labels: FIX, frontend

#68 Recreated home overall layout and elements, close#52
  Frontend/src/components/home/DisplaySystemInfo.vue
  Frontend/src/views/Home.vue
Labels: frontend
